body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    z-index: 10;
}

nav .fa-solid {
    display: none;
}

.fa-solid {
    color: #000;
}

.brand-name {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#sideMenu{
    padding-right: 120px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1px 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}

.brand-name img {
    height: 50px;
    padding-left: 120px;
}

.tour-dropdown li {
    display: inline-block;
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tour-dropdown {
    width: 7%;
    background: #5d5c5c;
    position: absolute;
    display: none;
    border-radius: 5px;
    padding: 10px 40px;
}

nav ul li:hover ul.tour-dropdown {
    display: block;
}

.brand-name img {
    width: 90px;
    height: 70px;
}

.brand-name {
    display: flex;
    flex-direction: row;
}
.head-temp{
    position: relative;
}
#head-img{
    width: 100%;
    height: 500px;
}
img{
    width: 100%;
    height: 500px;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.tab-titles {
    padding: 0 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #a5a4a4;
    margin: 13px 0;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.temple-card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.temple-card {
    width: 45%;
    box-shadow: 0px 0px 10px 4px #a9a8a8;
    border: 2px solid #a9a8a8;
    background: #fff;
    margin-bottom: 50px;
    padding-bottom: 15px;
}

.temple-card img {
    height: 350px;
    cursor: pointer;
}

.temple-card h2 {
    margin: 10px 5%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.temple-card p {
    margin: 10px 5%;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .brand-name img {
        padding-left: 50px;
    }
    nav .fa-solid {
        display: block;
        font-size: 25px;
        cursor: pointer;
        padding-right: 50px;
    }

    nav ul {
        background: #3a3939;
        position: fixed;
        top: -400px;
        width: 100%;
        height: auto;
        margin-top: 0;
        padding-top: 50px;
        transition: top 0.5s;
        left: -10px;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .tab-titles {
        flex-direction: column;
    }

    .tab-links.active-link::after {
        width: 25%;
    }

    .sub-title {
        font-size: 50px;
    }
}